// --- news-page --- //
.news
	display: flex
	flex-wrap: wrap
	//justify-content: space-between
	margin: 0 -10px 50px

	&__item
		border: 1px solid #eaeaea
		padding: 20px
		margin: 0 10px 20px
		//width: 44%
		width: calc(33.33% - 20px)
		&:hover
			box-shadow: 0 10px 25px #262262
			transition: 1s


	&__title
		text-align: center

	&__image
		max-width: 100%
		margin-bottom: 20px
		display: block
		margin-left: auto
		margin-right: auto

	&__text
		margin-bottom: 40px

	&__button
		margin-bottom: 20px
		margin-left: auto
		margin-right: auto
		display: flex
		width: 200px

	&__time
		display: block
		margin-bottom: 10px
		&--single
			margin-top: 40px


	&__author
		display: block
		margin-bottom: 10px

	&__category
		&-link

	@include bp($point-4)
		&__item
			margin: 0 10px 20px
			width: calc(50% - 20px)

	@include bp(700px)
		margin: 0 0 50px
		&__item
			margin: 0 0 20px
			width: 100%






.single-news
	margin-bottom: 50px


.pagination
	margin-bottom: 20px

.nav-links
	display: flex
	flex-wrap: wrap
	justify-content: center



.page-numbers
	border-radius: 10px
	padding: 10px 20px
	margin-bottom: 20px
	margin-right: 10px
	text-decoration: none
	color: $logo-second-color
	background-color: $logo-base-color
	transition: color, background-color 1s
	&:hover
		color: $logo-base-color
		background-color: $logo-second-color

	&.current
		color: $logo-base-color
		background-color: $logo-second-color


// --- / news-page --- //
