// --- services page --- //
.services
	padding-top: 40px
	padding-bottom: 40px
	&__list
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		margin: 0
		padding: 20px 0
		list-style: none

	&__card

.service-card
	position: relative
	margin-bottom: 20px
	width: calc(25% - 15px)
	display: flex
	flex-direction: column
	align-items: center
	justify-content: flex-end
	border: 1px solid #eaeaea
	background-color: #ffffff
	transition: box-shadow 0.5s
	overflow: hidden
	border-radius: 10px
	&--action
		&::after
			color: #FFFFFF
			content: "Акция"
			letter-spacing: 1px
			font-size: 13px
			font-weight: 700
			width: 130px
			height: 30px
			display: flex
			position: absolute
			top: 10px
			right: -40px
			background-color: #ee3643
			transform: rotate(45deg)
			justify-content: center
			align-items: center

	&:hover
		box-shadow: 0 10px 25px $shadow-color


	&__hover
		//padding: 40px
		padding: 25px 10px
		box-sizing: border-box
		position: absolute
		bottom: 0
		z-index: 2
		background-color: $logo-second-color
		opacity: 0
		width: 100%
		//height: 320px
		min-height: 216px
		max-height: 250px

		&-title
			display: block
			margin-bottom: 10px
			text-align: center

		&-list
			margin-left: auto
			margin-right: auto
			&--price
				margin-bottom: 20px

		&-comment
			text-align: center


	&:hover .service-card__hover
		opacity: 0.9
		transition: opacity 1.5s


	&__title
		color: $logo-base-color
		font-size: 24px
		font-weight: 700
		line-height: 30px
		text-align: center
		padding: 0 20px
		margin: 30px 0

	&__comment
		margin-bottom: 20px
		color: #a9a9a9
		font-size: 17px
		font-weight: 700
		line-height: 18px

	&__button
		&--booking
			margin-bottom: 50px

@include bp($point-5)
	.service-card
		width: calc(33% - 10px)

@include bp($point-4)
	.service-card
		width: calc(50% - 10px)

@include bp(600px)
	.service-card
		width: 100%

//@media (max-width: $screen-xl - 1) and (min-width: $screen-lg)
	.service-card
		width: 390px

// --- / services page --- //
