footer.footer
	.footer__wrapper.padding-site
		a(href="#" target="_self").footer__slogan
			img(src="images/slogan.svg" alt="").footer__slogan-logo

		span.footer__sponsor
			a(href="http://www.karakal.su/" target="_blank").footer__sponsor-link
				img(src="images/logo-karakal.svg" alt="").footer__sponsor-logo

			a(href="https://eyerackets.com" target="_blank").footer__sponsor-link
				img(src="images/eye-logo-white.png" alt="topball").footer__sponsor-logo

			a(href="http://topball.ru/" target="_blank").footer__sponsor-link
				img(src="images/topball-logo-white.png" alt="topball").footer__sponsor-logo

		.footer__contacts
			span.footer__club-name Гольф-клуб "Крылатское"
			span.footer__address г. Москва, ул. Островная, д. 2
			span.footer__text Телефон для заказа пропуска:
			a(href="tel:+74952347451").footer__phone +7 (495) 234-74-51

	.developer
		span.developer__title Разработка сайта:
		a(href="https://webalex.su" target="_blank").developer__link WebAlex
