extends pug/base

append vars
	- title = 'Запись'

block content
	.wrapper
		h1.page-title.crawl-from-left Бронирование
		p Выберите интересующий Вас клуб в шапке календаря и забронируйте удобное время для тренировки.
		p Вы можете сначала зарегистрироваться, использую форму ниже. Это позволит следить за статусом бронирования, вносить в него изменения, или отменить его при необходимости.
		p Незарегистрированным пользователям также доступно бронирование, но управлять им сможет только тренер.

