extends pug/base

append vars
	- title = 'Новости'

block content
	.wrapper
		h1.page-title Новости
		section.news
			+newsItem('Заголовок новости','images/news-preview.jpg','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dictaiure, libero omnis optio pariatur placeat praesentium similique tempora voluptas.','22 апреля 2020 г.','Имя автора','Новости индустрии')
			+newsItem('Заголовок новости','images/news-preview-1.jpg','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dictaiure, libero omnis optio pariatur placeat praesentium similique tempora voluptas.','22 апреля 2020 г.','Имя автора','категория')
			+newsItem('Заголовок новости','images/news-preview.jpg','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dictaiure, libero omnis optio pariatur placeat praesentium similique tempora voluptas.','22 апреля 2020 г.','Имя автора','Новости индустрии')
			+newsItem('Заголовок новости','images/news-preview-1.jpg','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dictaiure, libero omnis optio pariatur placeat praesentium similique tempora voluptas.','22 апреля 2020 г.','Имя автора','категория')
			+newsItem('Заголовок новости','images/news-preview.jpg','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dictaiure, libero omnis optio pariatur placeat praesentium similique tempora voluptas.','22 апреля 2020 г.','Имя автора','Новости индустрии')
			+newsItem('Заголовок новости','images/news-preview-1.jpg','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dictaiure, libero omnis optio pariatur placeat praesentium similique tempora voluptas.','22 апреля 2020 г.','Имя автора','Новости индустрии')

		nav.navigation.pagination(role="navigation")
			.nav-links
				a.prev.page-numbers(href="https://vssquash.ru/news/") Назад
				a.page-numbers(href="https://vssquash.ru/news/") 1
				span.page-numbers.current(aria-current="page") 2
				a.next.page-numbers(href="https://vssquash.ru/news/") Вперёд


