extends pug/base

append vars
	- title = 'Прайс-лист'

block content
	//.padding-site
	.wrapper
		h1.page-title.crawl-from-left Стоимость тренировок
		.price__wrapper-outside
			table.price
				tr.price__row.price__row--table-title
					th.price__cell.price__cell--table-header Дети
					th.price__cell.price__cell--table-header
						span.price__days Буд<wbr>ние дни
						span.price__time 9.00 - 17.00
					th.price__cell.price__cell--table-header
						span.price__days Буд<wbr>ние дни
						span.price__time 17.00 - 22.00
						span.price__days Вы<wbr>ход<wbr>ные дни
						span.price__time 09.00 - 22.00

				tr.price__row
					td.price__cell 1 час тре<wbr>ни<wbr>ров<wbr>ки 1 игрок
					td.price__cell 1 650 руб.
					td.price__cell 2 050 руб.

				tr.price__row
					td.price__cell 1 час тре<wbr>ни<wbr>ров<wbr>ки 2 игрока
					td.price__cell 1 000 руб.
					td.price__cell 1 200 руб.

				tr.price__row
					td.price__cell 2 часа тре<wbr>ни<wbr>ров<wbr>ки 2 игрока
					td.price__cell 1 750 руб.
					td.price__cell 2 150 руб.

				tr.price__row
					td.price__cell 1 час тре<wbr>ни<wbr>ров<wbr>ки 3 игрока
					td.price__cell 750 руб.
					td.price__cell 850 руб.

				tr.price__row
					td.price__cell 2 часа тре<wbr>ни<wbr>ров<wbr>ки 3 игрока
					td.price__cell 1 450 руб.
					td.price__cell 1 600 руб.

				tr.price__row
					td.price__cell 2 часа тре<wbr>ни<wbr>ров<wbr>ки 4-6 игроков на 2-х кортах
					td.price__cell Цена до<wbr>го<wbr>вор<wbr>ная
					td.price__cell Цена до<wbr>го<wbr>вор<wbr>ная

		.price__wrapper-outside
			table.price
				tr.price__row.price__row--table-title
					th.price__cell.price__cell--table-header Взрослые
					th.price__cell.price__cell--table-header
						span.price__days Буд<wbr>ние дни
						span.price__time 9.00 - 17.00
					th.price__cell.price__cell--table-header
						span.price__days Буд<wbr>ние дни
						span.price__time 17.00 - 22.00
						span.price__days Вы<wbr>ход<wbr>ные дни
						span.price__time 09.00 - 22.00

				tr.price__row
					td.price__cell 1 час тре<wbr>ни<wbr>ров<wbr>ки 1 игрок
					td.price__cell 2 150 руб.
					td.price__cell 2 500 руб.

				tr.price__row
					td.price__cell 1 час тре<wbr>ни<wbr>ров<wbr>ки 2 игрока
					td.price__cell 1 200 руб.
					td.price__cell 1 400 руб.

				tr.price__row
					td.price__cell 2 часа тре<wbr>ни<wbr>ров<wbr>ки 2 игрока
					td.price__cell 2 150 руб.
					td.price__cell 2 500 руб.

				tr.price__row
					td.price__cell 1 час тре<wbr>ни<wbr>ров<wbr>ки 3 игрока
					td.price__cell 900 руб.
					td.price__cell 1 000 руб.

				tr.price__row
					td.price__cell 2 часа тре<wbr>ни<wbr>ров<wbr>ки 3 игрока
					td.price__cell 1 650 руб.
					td.price__cell 1 850 руб.

				tr.price__row
					td.price__cell 2 часа тре<wbr>ни<wbr>ров<wbr>ки 4-6 игроков на 2-х кортах
					td.price__cell Цена до<wbr>го<wbr>вор<wbr>ная
					td.price__cell Цена до<wbr>го<wbr>вор<wbr>ная

		.price-sale
			div.price-sale__wrapper
				h2.price-sale__title Специальные условия для новичков
				b.price-sale__subtitle Первые 3 тренировки:
				ul.price-sale__list
					li 1500 руб. - один игрок
					li 1800 руб. - два игрока
					li 2000 руб. - три игрока

				b.price-sale__subtitle В стоимость входят:
				ul.price-sale__list
					li Аренда корта
					li Услуги тренера
					li Инвентарь
