extends pug/base

append vars
	- title = 'Услуги'

block content
	.services.main.main--services.padding-site
		h1.page-title.crawl-from-left Виды тренировок
		ul.services__list
			li.service-card.service-card--action.services__service-card
				.service-card__hover
					b.service-card__hover-title Первые 3 тренировки:
					ul.service-card__hover-list.service-card__hover-list--price
						li 1500 руб. - один игрок
						li 1800 руб. - два игрока
						li 2000 руб. - три игрока

					b.service-card__hover-title В стоимость входят:
					ul.service-card__hover-list.service-card__hover-list--included
						li Аренда корта
						li Услуги тренера
						li Инвентарь

				h2.service-card__title Начальный уровень
				span.service-card__comment Место еще не определено
				a.button.button--booking.service-card__button--booking(href="appointment.html") Оставить заявку
				img.service-card__image(src="images/services-starter.jpg" alt="Начальный уровень игры в сквош")

			li.service-card.services__service-card
				.service-card__hover
					b.service-card__hover-title Oт 1650 руб. час
					b.service-card__hover-title В стоимость входят:
					ul.service-card__hover-list.service-card__hover-list--included
						li Аренда корта
						li Услуги тренера
						li Инвентарь
					p.service-card__hover-comment
						span Подробнее в разделе
						a(href="price.html") Прайс-лист

				h2.service-card__title Детские тренировки
				span.service-card__comment Место еще не определено
				a.button.button--booking.service-card__button--booking(href="appointment.html") Оставить заявку
				img.service-card__image(src="images/services-kids.jpg" alt="Начальный уровень игры в сквош")


			li.service-card.services__service-card
				.service-card__hover
					b.service-card__hover-title Oт 2150 руб. час
					b.service-card__hover-title В стоимость входят:
					ul.service-card__hover-list.service-card__hover-list--included
						li Аренда корта
						li Услуги тренера
						li Инвентарь

					p.service-card__hover-comment
						span Подробнее в разделе
						a(href="price.html") Прайс-лист


				h2.service-card__title Любитель
				span.service-card__comment Место еще не определено
				a.button.button--booking.service-card__button--booking(href="appointment.html") Оставить заявку
				img.service-card__image(src="images/services-common.jpg" alt="Начальный уровень игры в сквош")


			li.service-card.services__service-card
				.service-card__hover
					b.service-card__hover-title Oт 2150 руб. час
					b.service-card__hover-title В стоимость входят:
					ul.service-card__hover-list.service-card__hover-list--included
						li Аренда корта
						li Услуги тренера
						li Инвентарь

					p.service-card__hover-comment
						span Подробнее в разделе
						a(href="price.html") Прайс-лист

				h2.service-card__title Про<wbr>дви<wbr>ну<wbr>тый игрок
				span.service-card__comment Место еще не определено
				a.button.button--booking.service-card__button--booking(href="appointment.html") Оставить заявку
				img.service-card__image(src="images/services-profi.jpg" alt="Начальный уровень игры в сквош")
