extends pug/base

append vars
	- title = 'Тренер'

block content
	//.padding-site
	.wrapper
		article.trainer
			div.trainer__wrapper
				img.trainer__photo(src="images/trainer.jpg" alt="Тренер Вадим Смирнов")
				.trainer__info
					h1.trainer__name.crawl-from-left Смирнов Вадим
					b.trainer__rank Тренер по сквошу
					p.trainer__text Меня зовут Вадим Смирнов, я персональный тренер по игре Сквош. Опыт тренерской работы более 4х лет, сертификат WSF Level -1. Провожу тренировки с любыми по уровню игроками: от новичков и	маленьких детей до профессионалов. Сквош - это одна из самых подвижных и интеллектуально ориентированных спортивных игр. Здесь важны: физическая подготовка, скорость, пространственное мышление , умение тактически действовать и стратегически мыслить . За одну тренировку вы можете с легкостью потратить более 1000 калорий, при этом, вы получите удовольствие от игры и приобретете навыки, которые необходимы и в жизни.
					p.trainer__text Я расскажу вам о истории СКВОША, научу правильным ударам, движениям и профессиональным секретам, чтобы вы могли с легкостью выигрывать любительские и даже профессиональные турниры.
			a(href="feedback.html").button.trainer__button Связаться
